<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <style>
            .center { display: block; margin-left: auto; margin-right: auto; width: 95px; height: 95px; } .body-heading { text-align: center; } h1, h2
            { color: red; } .button { border-radius: 2px; } .button a { padding: 8px 12px; border: 1px solid #ffc107; border-radius: 2px; font-family:
            Arial, Helvetica, sans-serif; font-size: 14px; color: #1e56a0; text-decoration: none; font-weight: bold; display: inline-block; } table,
            td, th { border: 1px solid; padding: 15px; text-align: center; } table { border-collapse: collapse; } .table-border { border: solid 1px
            black; border-collapse: collapse; } .cell-border { border: solid 1px black; padding: 10px; }
        </style>
    </head>
    <body>
        <div class="body-heading">
            <img src="http://app.high-view-studios.co.uk/HighViewStudios/templates/logo.jpg" class="center" />
            <h1><strong>High-View Studios</strong></h1>
        </div>

        <p>Dear High-View Studios,</p>
        <p>You have recieved a new Call Out:</p>

        <table>
            <table class="table-border">
                <tr>
                    <td class="cell-border"><strong>Name:</strong></td>
                    <td class="cell-border">{{name}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Email:</strong></td>
                    <td class="cell-border">{{email}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Address Line 1:</strong></td>
                    <td class="cell-border">{{addressLine1}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Address Line 2:</strong></td>
                    <td class="cell-border">{{addressLine2}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Town:</strong></td>
                    <td class="cell-border">{{town}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Postcode:</strong></td>
                    <td class="cell-border">{{postcode}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Tel:</strong></td>
                    <td class="cell-border">{{tel}}</td>
                </tr>
                <tr>
                    <td class="cell-border"><strong>Issue:</strong></td>
                    <td class="cell-border">{{issue}}</td>
                </tr>
            </table>
        </table>
        <br />

        <p>Regards,</p>

        <p><strong>High-View Studios</strong></p>
    </body>
</html>