<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>

      .center{display: block; margin-left: auto; margin-right: auto; width:
      95px; height: 95px} .body-heading { text-align: center; } h1, h2 { color:
      red; } .button { border-radius: 2px; } .button a { padding: 8px 12px;
      border: 1px solid #ffc107; border-radius: 2px; font-family: Arial,
      Helvetica, sans-serif; font-size: 14px; color: #1e56a0; text-decoration:
      none; font-weight: bold; display: inline-block; }

    </style>

  </head>
  <body>
    <div class="body-heading">
      <img
        src="http://app.high-view-studios.co.uk/HighViewStudios/templates/logo.jpg"
        class="center"
      />
      <h1><strong>High-View Studios</strong></h1>
    </div>

    <p>Dear {{name}} ({{email}}),</p>
    <p>Thank you for registering with High-View Studios.</p>
    <p>A place that meets all your technicial needs.</p>

    <p>You have been added as an administrator on the website. As an
      administrator you are able to log into the back-end of the site and edit
      the following sections.</p>

    <ul>
      <li>Users</li>
      <li>Pages</li>
      <li>Editorials</li>
      <li>Media</li>
      <li>Contacts (Contact Forms)</li>
      <li>Features</li>
    </ul>

    <p>Your login information is as follows: </p>

    <ul>
      <li>Username: please use the email you see above</li>
      <li>Password: {{password}}</li><br />
    </ul>

    <p>Also, Please click the buttom below to verify your email:</p>

    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0">
            <tr>
              <td class="button" bgcolor="#ffc107">
                <a
                  class="link"
                  href="http://localhost:3000/registration/emailverified/{{id}}/{{email}}"
                  target="_blank"
                >
                  VERIFY NOW
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <p>Regards,</p>

    <p><strong>High-View Studios</strong></p>

  </body>
</html>